.main {
    margin: auto;
    width: 50%;
    padding: 10px;
}

.titel {
    text-align: center;
}

.tabel {
    border: 1px solid black;
}

.formulier {
    width: 200px;
    float: left;
}

.formulieronderelkaar {
    width: 40px;
}

.tekstinput {
    margin: 10px;
}

.bezorgdiv {
    width: 2000px;
}